<?xml version="1.0"?>
<config>
    <modules>
        <Lister_Feedback>
            <version>1.6.0.0</version>
        </Lister_Feedback>
    </modules>
    <global>
        <models>
            <feedback>
                <class>Lister_Feedback_Model</class>
                <resourceModel>feedback_resource</resourceModel>
            </feedback>
            <feedback_resource>
                <class>Lister_Feedback_Model_Resource</class>
                <entities>
                    <feedback>
                        <table>lister_feedback</table>
                    </feedback>
                </entities>
            </feedback_resource>
        </models>
        <resources>
            <feedback_setup>
                <setup>
                    <module>Lister_Feedback</module>
                </setup>
            </feedback_setup>
        </resources>
        <blocks>
            <feedback>
                <class>Lister_Feedback_Block</class>
            </feedback>
        </blocks>
        <helpers>
            <feedback>
                <class>Lister_Feedback_Helper</class>
            </feedback>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <Feedback>
                    <file>feedback/feedback.xml</file>
                </Feedback>
            </updates>
        </layout>
        <routers>
            <feedback>
                <use>standard</use>
                <args>
                    <module>Lister_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </feedback>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <feedback>Lister_Feedback_Adminhtml</feedback>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>

