<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lister_Testimonials>
            <version>0.1.0</version>
        </Lister_Testimonials>
    </modules>
    <blocks>
        <testimonials>
            <class>Lister_Testimonials_Block</class>  
        </testimonials>
    </blocks>  
    <global>
        <models>
            <testimonials>
                <class>Lister_Testimonials_Model</class>
                <resourceModel>testimonials_resource</resourceModel>
            </testimonials>
            <testimonials_resource>
                <class>Lister_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>lister_testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_resource>          
        </models>          
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Lister_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonials_setup>
        </resources>
        <blocks>
            <testimonials>
                <class>Lister_Testimonials_Block</class>
            </testimonials>
        </blocks>
        <helpers>
            <testimonials>
                <class>Lister_Testimonials_Helper</class>   
            </testimonials>
        </helpers>
    </global>
    <frontend>
        <routers>
            <Testimonials>
                <use>standard</use>
                <args>
                    <module>Lister_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </Testimonials>
        </routers>
        <layout>
            <updates>
                <Testimonials>
                    <file>testimonials/testimonials.xml</file>
                </Testimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <Testimonials>
                <use>admin</use>
                <args>
                    <module>Lister_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </Testimonials>
        </routers>
    </admin>
</config>