<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Lister_News>
            <version>0.1.0</version>
        </Lister_News>
    </modules>
    <blocks>
        <news>
            <class>Lister_News_Block</class>  
        </news>
    </blocks>  
    <global>
        <models>
            <news>
                <class>Lister_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </news>
            <news_resource>
                <class>Lister_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>lister_news</table>
                    </news>
                </entities>
            </news_resource>          
        </models>          
        <resources>
            <news_setup>
                <setup>
                    <module>Lister_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
        </resources>
        <blocks>
            <news>
                <class>Lister_News_Block</class>
            </news>
        </blocks>
        <helpers>
            <news>
                <class>Lister_News_Helper</class>   
            </news>
        </helpers>
    </global>
    <frontend>
        <routers>
            <News>
                <use>standard</use>
                <args>
                    <module>Lister_News</module>
                    <frontName>news</frontName>
                </args>
            </News>
        </routers>
        <layout>
            <updates>
                <News>
                    <file>news/news.xml</file>
                </News>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <News>
                <use>admin</use>
                <args>
                    <module>Lister_News</module>
                    <frontName>news</frontName>
                </args>
            </News>
        </routers>
    </admin>
</config>